.weather-data {
  display: flex;
  gap: var(--gap-lg);
  align-items: center;
  justify-content: center;
}

.weather-data-rows {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: var(--color-text-primary);
}

.weather-temp-container {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.weather-temp {
  width: 100%;
  height: 100px;
  color: var(--color-text-primary);
  display: grid;
  align-items: start;
  justify-content: center;
}

.weather-temp-value {
  font-size: var(--font-size-3xl);
  grid-row: 1;
  grid-column: 1;
  margin-right: 0;
  width: min-content;
}

.weather-temp-unit {
  font-size: var(--font-size-2xl);
  grid-row: 1;
  grid-column: 2;
  width: min-content;
  align-self: start;
  position: relative;
  top: 1.5rem;
}

.weather-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs) 0;
  border-bottom: var(--border-width) solid var(--border-color);
}

.weather-row:last-child {
  border-bottom: none;
}

.weather-row-descr {
  font-size: var(--font-size-sm);
}

.weather-temp-descr {
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--color-text-primary);
  font-size: clamp(var(--font-size-xs),
    var(--font-size-sm),
    var(--font-size-base));
}

.weather-temp-text {
  margin-right: var(--spacing-xs);
}